<div class="row center container">
    <div class="col s12">
      <div class="card-panel center">
        <span class="red-text">O projeto HemoHeroes nasceu de uma ideia de estudantes da área de TI submetida no programa Aceleradora Ágil, uma parceria ThoughtWorks, PUCRS e Centro de Inovação Microsoft.

            Buscamos manter e captar doadores em um sistema único, seguro e acessível por todos os bancos de sangue parceiros. Assim nos encarregamos de chamar os doadores aptos de acordo com a necessidade dos bancos de sangue, disponibilizar informações necessárias para quem quer fazer uma doação, informar a data que o doador está apto a doar novamente e divulgar campanhas de doação de sangue em sua região.
            </span>
      </div>
    </div>
  </div>