
<div id="index-banner" class="parallax-container">
    <div class="section">
        <div class="container">
            <h3 style="
            color: #333333;
            font-size: 1.7em;
            overflow: visible;
            font-weight: 600;
            text-shadow: 0px 1px 25px white;
            ">
            Receba notificações de quando e onde doar sangue
            Faça parte dos doadores voluntários do HemoHeroes
        </h3>
        <div class="row center">
            <button class="btn-large waves-effect waves-light red darken-1 pulse">Quero me cadastrar!</button>
        </div>
    </div>
</div>
<div class="parallax"><img src="./assets/images/hospital.jpg" alt="hospital"></div>
</div>


<div class="container">
    <div class="section">
        
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">account_circle</i></h2>
                    <h5 class="center">Você se cadastra no HemoHeroes</h5>
                    <p class="light">
                        <div class="row center button">
                            <a href="#" id="download-button" class="btn-large waves-effect waves-light red darken-1 ">Quero Doar <i class="material-icons pulse">favorite</i></a>
                        </div>
                    </p>
                </div>
            </div>
            
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">local_hospital</i></h2>
                    <h5 class="center">O Banco de Sangue solicita a doação do seu tipo sanguíneo</h5>
                    
                    <!-- <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
                </div>
            </div>
            
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">notifications</i></h2>
                    <h5 class="center">Você recebe a solicitação</h5>
                    
                    <!-- <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p> -->
                </div>
            </div>
            
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">tag_faces</i><i class="material-icons">favorite</i></h2>
                    <h5 class="center">Atenda a solicitação comparecendo ao Banco de Sangue</h5>
                    
                    <!-- <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p> -->
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <!-- <h5 class="header col s12" style="font-size: 2em; font-weight: 550;">Vamos ver abaixo os hospitais parceiros!</h5> -->
            </div>
        </div>
    </div>
    <div class="parallax"><img src="http://localhost:8080/assets/images/blood-donators.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Hospitais Parceiros</h4>
                <p class="left-align light">
                    <div id="googleMap" style="width:100%; height:430px;"></div>
                </p>
            </div>
        </div>
        
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./assets/images/donationhand.jpg" alt="Unsplashed background img 3"></div>
</div>