<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="name" type="text" class="validate">
                <label for="name">Informe nome do Hospital</label>
            </div>
            <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="cnpj" type="text" class="validate" maxlength=18>
                <label for="cnpj">CNPJ</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="phone1" type="text" class="validate"  maxlength=14>
                <label for="phone1">Telefone principal com DDD</label>
            </div>
            <div class="input-field col s6">
                <input id="phone2" type="text" class="validate"  maxlength=14> 
                <label for="phone2">Telefone secundario com DDD</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="street" type="text" class="validate">
                <label for="street">Informe o endereço</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password1" type="password" class="validate">
                <label for="password1">Informe uma senha</label>
            </div>
            <div class="input-field col s6">
                <input id="password2" type="password" class="validate">
                <label for="password2">Confirme sua senha</label>
            </div>
        </div>
        <div class="center">
            <button class="btn red darken-5" onclick="registerBank()"> Registrar <i class="material-icons right">send</i> </button>
        </div>
    </form>
</div>