<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="A-" type="number" min="0" class="validate">
                <label for="A-">A-</label>
            </div>
            <div class="input-field col s6">
                <input id="A" type="number" min="0" class="validate">
                <label for="A">A</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="AB-" type="number" min="0" class="validate">
                <label for="AB-">AB-</label>
            </div>
            <div class="input-field col s6">
                <input id="AB" type="number" min="0" class="validate">
                <label for="AB">AB</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="O-" type="number" min="0" class="validate">
                <label for="O-">O-</label>
            </div>
            <div class="input-field col s6">
                <input id="O" type="number" min="0" class="validate">
                <label for="O">O</label>
            </div>
        </div>
        <div class="center">
            <button class="btn red darken-5" onclick="requireBlood()"> Registrar <i class="material-icons right">send</i> </button>
        </div>
    </form>
</div>