<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" required>
                <label for="name">Informe seu nome</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <label>Tipo sanguíneo:</label>
            <div class="input-field col s12">
                <select id="bloodType" style="display: inline !important">
                    <option value="n" selected>Não sei</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label for="">
                        <span>Última doação</span>
                        <input id="lastDonate" type="date" class="datepicker">
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label>
                        <input name="genre" id="male" type="radio" />
                        <span>Masculino</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="genre" id="female" type="radio" />
                        <span>Feminino</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="genre" id="other" type="radio" checked/>
                        <span>Outro</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label for="">
                        <span>Data de Nascimento</span>
                        <input id="dateOfBirth" type="date" class="datepicker">
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label>
                        <input type="checkbox" id="push" />
                        <span>Desejo receber notificações</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password1" type="password" class="validate" required>
                <label for="password1">Informe uma senha</label>
            </div>
            <div class="input-field col s6">
                <input id="password2" type="password" class="validate" required>
                <label for="password2">Confirme sua senha</label>
            </div>
        </div>
        <div class="center">
            <a class="btn red darken-5" onclick="registerDonator()"> Registrar <i class="material-icons right">send</i> </a>
        </div>
    </form>
</div>